<%- include('./partials/head.ejs') %>
<section id="detail">
	<h1><%= data.Adres + ', ' + data.Plaats%></h1>
	<a href="javascript:history.back();">Terug naar overzicht</a>
	<img src="<%= data.Media[0].MediaItems[3].UrlSecure%>" alt="<%= data.Adres+ ' ' + data.Plaats%>" title="<%= data.Adres+ ' ' + data.Plaats%>">
	<div class="sub-img">
		<img 
		src="<%= data.Media[1].MediaItems[2].UrlSecure%>" alt="<%= data.Adres+ ' ' + data.Plaats%>" title="<%= data.Adres+ ' ' + data.Plaats%>">
		<img src="<%= data.Media[2].MediaItems[2].UrlSecure%>" alt="<%= data.Adres+ ' ' + data.Plaats%>" title="<%= data.Adres+ ' ' + data.Plaats%>">
		<img src="<%= data.Media[3].MediaItems[2].UrlSecure%>" alt="<%= data.Adres+ ' ' + data.Plaats%>" title="<%= data.Adres+ ' ' + data.Plaats%>">
		<img src="<%= data.Media[4].MediaItems[2].UrlSecure%>" alt="<%= data.Adres+ ' ' + data.Plaats%>" title="<%= data.Adres+ ' ' + data.Plaats%>">
		<img src="<%= data.Media[5].MediaItems[2].UrlSecure%>" alt="<%= data.Adres+ ' ' + data.Plaats%>" title="<%= data.Adres+ ' ' + data.Plaats%>">
	</div>
	<p><%- '<strong>Omschrijving:</strong> <br/><br/>' + data.VolledigeOmschrijving %></p>
	<div class="omschrijving">
		<p><%- data.PrijsGeformatteerd%></p>
		<p><%= 'Woonoppervlakte: ' + data.WoonOppervlakte + ' m2'%></p>
		<p><%= 'Perceeloppervlakte: ' + data.PerceelOppervlakte + ' m2'%></p>
		<p><%= data.AantalKamers + ' kamers'%></p>
		<p><%='Makelaar: ' + data.Makelaar%></p>
	</div>
</section>
<%- include('./partials/foot.ejs') %>