<%- include('./partials/head.ejs') %>
<h1>Hello World!</h1>
<ul>
	<% for(var i=0; i < data.length; i++){ %>	
		<li><a href='<%= data[i].GlobalId %>'><img src="<%= data[i].FotoLarge%>"><%= data[i].Adres %></a></li>
		<% }; %>
</ul>
<%- include('./partials/foot.ejs') %>