<%- include('./partials/head.ejs') %>
<section id="results">
	<aside>
		<h2>Geef jou belangrijkheid mee!</h2>
		<label for="tuin">Tuin</label>
		<select id="tuin">
			<option class="Tuin" value="1">1</option>
			<option class="Tuin" value="2">2</option>
			<option class="Tuin" value="3">3</option>
			<option class="Tuin" value="4">4</option>
			<option class="Tuin" value="5">5</option>
		</select>
		<label for="slaapkamers">Slaapkamers</label>
		<select id="slaapkamers">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<label for="slaapkamersAantal">Aantal:</label>
		<input type="number" name="slaapkamersAantal" id="slaapkamersAantal">
		<label for="garage">Garage</label>
		<select id="garage">
			<option class="Garage" value="1">1</option>
			<option class="Garage" value="2">2</option>
			<option class="Garage" value="3">3</option>
			<option class="Garage" value="4">4</option>
			<option class="Garage" value="5">5</option>
		</select>
		<label for="woonoppervlakte">Woonoppervlakte</label>
		<select id="woonoppervlakte">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<label for="woonoppmin">Minimale grootte:</label>
		<input type="number" name="woonoppmin" id="woonoppmin">
		<label for="perceeloppervlakte">Perceeloppervlakte</label>
		<select id="perceeloppervlakte">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<label for="perceeloppmin">Minimale grootte:</label>
		<input type="number" name="perceeloppmin" id="perceeloppmin">
		<button id="sort">Send</button>
	</aside>
	<ul class="house">
		<% for(var i=0; i < data.length; i++){ %>	
			<li>
				<img src="<%= data[i].FotoLarge%>" alt="<%= data[i].Adres+ ' ' + data[i].Woonplaats%>" title="<%= data[i].Adres+ ' ' + data[i].Woonplaats%>">
				<a href='/results/<%= data[i].Id %>'></a>
				<div class="omschrijving">
					<h2><%= data[i].Adres%></h2>
					<h3><%= data[i].Postcode + ' ' + data[i].Woonplaats%></h3>
					<p><%- data[i].PrijsGeformatteerdHtml%></p>
					<div class="sub-info">
						<% if(data[i].Woonoppervlakte !== null){ %>
							<p><%-data[i].Woonoppervlakte + ' m<sup>2</sup>'%></p>
						<%}%>
						<% if(data[i].Perceeloppervlakte !== null){ %>
							<p><%-data[i].Perceeloppervlakte + ' m<sup>2</sup>'%></p>
						<%}%>
						<% if(data[i].AantalKamers !== null){ %>
							<p><%-data[i].AantalKamers + ' kamers'%></p>
						<%}%>
						
					</div>
					<p><%='Makelaar: ' + data[i].MakelaarNaam%></p>
				</div>
			</li>
		<% }; %>
	</ul>
</section>
<%- include('./partials/foot.ejs') %>